* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(179, 195, 213, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #f8f9fa;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  font-family: "Yuji Syuku", serif;
  font-size: 7.4rem;
  line-height: 1.05;
  font-weight: 700;
}
.heading-secondary {
  text-align: left;
  color: #000;
  font-family: "Yuji Syuku", serif;
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 600;
  text-align: left;
}

.subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
