@media (max-width: 75em) {
  .section-portfolio {
    padding: 9.8rem 4.8rem;
  }
  .section-contact {
    padding: 9.6rem 6.4rem;
  }
  .contact-text {
    margin-left: 6.4rem;
    margin-right: 6.4rem;
  }
}
@media (max-width: 64em) {
  .heading-secondary {
    font-size: 4.8rem;
  }

  .about-text {
    font-size: 1.8rem;
    padding: 3.2rem 6.4rem 4.8rem 0;
  }
  .card-title {
    margin-bottom: 2rem;
  }
  .card-description {
    font-size: 1.6rem;
  }

  contact-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 48em) {
  .mobile-nav-btn {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(66, 66, 66, 0.774);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: translateY(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3.2rem;
  }

  .section-hero {
    padding: 20rem 0 20rem 0;
  }
  .heading-primary {
    font-size: 6.2rem;
  }
  .hero-text {
    font-size: 1.8rem;
  }

  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    padding: 9.6rem 6.4rem 0 6.4rem;
  }
  .about-text {
    padding: 0 6.4rem 9.6rem 6.4rem;
  }

  .heading-secondary {
    text-align: center;
    margin: 0 3.2rem 3.2rem 3.2rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .card-content {
    padding: 3.2rem 6.4rem 6.4rem 6.4rem;
  }

  .card-title {
    margin-bottom: 1.6rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 50%;
  }

  .heading-secondary {
    margin: 0 6.8rem 3.2rem 6.8rem;
  }

  .logo {
    height: 4rem;
    width: 4rem;
  }

  .footer {
    padding: 0 2.4rem;
  }

  .grid--footer,
  .social-nav-list {
    gap: 1.2rem;
  }
}

@media (max-width: 27em) {
  html {
    font-size: 45%;
  }
  .card-title {
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
  }

  .card-content {
    padding: 1.6rem 3.2rem 3.2rem 3.2rem;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

  .contact-text {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 43%;
  }
  .heading-secondary {
    margin: 2rem auto;
  }

  .contact-text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*See Omnifood on adjusting font and other queries*/
