/* Base */

/*************/
/* HEADER */
/*************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 7.4rem;
  border: 1px solid #000;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem;
  color: #b3c3d5;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #f5dcd5;
  color: #333;
}

.mobile-nav-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #f5dcd5;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/*************/
/* HERO */
/*************/
.section-hero {
  padding: 50rem 0 50rem 0;
  max-width: 100%;
  max-height: 300rem;
  background-image: url("/images/birds1.jpg");
  background-image: url("/images/birds1.webp");
  background-size: cover;
}
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text-box {
  text-align: center;
  padding: 9.8rem;
  background-color: #000;
  color: #f5dcd5;
}

.hero-text {
  margin-top: 2.4rem;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.75px;
}

.hero-name {
  color: #b3c3d5;
}

/*************/
/* ABOUT */
/*************/
.section-about {
  padding: 9.6rem 0;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  align-items: center;
  background-color: #f5dcd5;
}

.about-img {
  width: 100%;
  padding: 6.4rem 0 6.4rem 6.4rem;
  align-self: center;
  filter: grayscale(100%);
}
.about-text-box {
  /* align-self: center; */
}
.about-text {
  padding: 6.4rem 6.4rem 6.4rem 0;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.75px;
  font-weight: 500;
}
/*************/
/* PORTFOLIO */
/*************/
.section-portfolio {
  padding: 9.6rem 0;
  background-color: #b3c3d5;
}

.section-portfolio .heading-secondary {
  text-align: center;
  margin-bottom: 6.4rem;
}

.project-card {
  background-color: #f5dcd5;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.project-card:hover {
  cursor: pointer;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card-img {
  width: 100%;
}
.card-content {
  padding: 3.2rem;
}

.card-link:link,
.card-link:visited {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.card-title {
  font-family: "Yuji Syuku", serif;
  font-size: 3.2rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.card-description,
.card-link:link,
.card-link:visited {
  color: #000;
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.75px;
  font-weight: 500;
}

/*************/
/* CONTACT */
/*************/
.section-contact {
  padding: 9.6rem 0;
}

.contact-text-box .heading-secondary {
  text-align: center;
}

.contact-text {
  margin-top: 2.4rem;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 3.2rem;
}
.contact-form {
  background-color: #f5dcd5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 3.2rem 6.4rem;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.3);
}

.contact-form label {
  /* border: 1px solid blue; */
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  justify-self: center;
}
.contact-form input,
.contact-form textarea {
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  justify-self: center;
}

.btn--contact-form {
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
  justify-self: center;
  border: none;
  background-color: #b3c3d5;
  transition: all 0.3s;
}

.btn--contact-form:hover {
  background-color: #000;
  color: #fff;
}

.section-contact .container *:focus {
  box-shadow: 0 0 0 0 0.8rem (rgba(0, 0, 0, 0.2));
}
/*************/
/* FOOTER */
/*************/
.footer {
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #000;
}

.grid--footer {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}

.copyright {
  text-align: center;
  color: #f5dcd5;
  font-size: 1.4rem;
}

.social-nav {
  display: flex;
  justify-self: center;
}

.social-nav .logo {
  justify-self: center;
}

.social-nav-list {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  gap: 3.2rem;
}

.social-nav-link .social-icon {
  color: #f5dcd5;
  font-size: 4rem;
  transition: all 0.3s;
}

.social-nav-link .social-icon:hover {
  color: #fff;
}
